@model IEnumerable<Practice.Models.Regions>

@{
    ViewData["Title"] = "Index";
}

<p>
     <a  class="btn btn-success" onclick="DisplayModalStacked('@Url.Action("Create","Regions")',1)">Add Regions</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Edit","Regions" , new{id = @item.Id})',1)" >Edit</a> |
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Details","Regions" , new{id = @item.Id})',1)">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
