@model IEnumerable<Practice.Models.Countries>
@using Practice.Helper;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" onclick="DisplayModalStacked('@Url.Action("Create","Countries")',1)">Add Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Region
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Find.GetCountryName(ViewBag.Context , item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regions.Name)
                </td>
                <td>
                    <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Edit","Countries" , new{id = @item.Id})',1)">Edit</a> |
                    <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Details","Countries" , new{id = @item.Id})',1)">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
