@model IEnumerable<Practice.Models.Locations>
@using Practice.Helper;
@{
    ViewData["Title"] = "Index";
}

<p>
     <a  class="btn btn-success" onclick="DisplayModalStacked('@Url.Action("Create","Locations")',1)">Add Locations</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Countries)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateProvince)
            </td>
            <td>
                @Find.GetCountryName(ViewBag.Context , item.Countries.Id)
            </td>
            <td>
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Edit","Locations")',1)" >Edit</a> |
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Details","Locations")',1)">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
