@model IEnumerable<Practice.Models.Jobs>

@{
    ViewData["Title"] = "Index";
}

<p>
     <a  class="btn btn-success" onclick="DisplayModalStacked('@Url.Action("Create","Jobs")',1)">Add Jobs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Edit","Jobs" , new{id = @item.Id})',1)" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
