@model Practice.Models.JobHistory
@using Practice.Helper;
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Jobs)
            </dt>
            <dd class="col-sm-10">
                @Find.GetJobTitle(ViewBag.Context , Model.JobsId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employees)
            </dt>
            <dd class="col-sm-10">
                @Find.GetEmployeeName(ViewBag.Context , Model.EmplyeesId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Departments)
            </dt>
            <dd class="col-sm-10">
                @Find.GetDepartamentName(ViewBag.Context , Model.DepartmentsId)
            </dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
