@model IEnumerable<Practice.Models.JobHistory>

@{
    ViewData["Title"] = "Index";
}

<p>
     <a  class="btn btn-success" onclick="DisplayModalStacked('@Url.Action("Create","JobHistories")',1)">Add JobHistories</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Id)
            </td>
            <td>
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Edit","JobHistories" ,new {id = @item.Id})',1)" >Edit</a> |
                <a class="btn btn-primary" onclick="DisplayModalStacked('@Url.Action("Details","JobHistories" ,new {id = @item.Id})',1)" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
