@using Microsoft.AspNetCore.Identity
@using Practice.ViewModel
@using Practice.Helper
@model IEnumerable<UserAndRoleViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register new User</a>
        </div>
    </div> 

<h1>Index</h1>
@if(Model.Any())
{
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last name </th>
          <th scope="col">Departament</th>
          <th scope="col">Job Title</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td >@user.Employees.FirstName</td>
            <td >@user.Employees.LastName</td>
            <td>@Find.GetDepartamentName(ViewBag.Context , user.Employees.DepartmentsId)</td>
            <td>@Find.GetJobTitle(ViewBag.Context , user.Employees.JobsId)</td>
            @*<td><span id="@user.Employees.Id"></span></td>
            <td>
                <select onchange="ChangeRole('@Url.Action("sendData","UsersManager")','@user.Employees.Id',this)" style="width:30%;">
                    @foreach(IdentityRole role in ViewBag.roleList)
                    {
                        if(role.Id == user?.Role?.Id)
                        {
                            <option value="@role.Id" selected>@role.Name</option>
                        }
                        else
                        {
                            <option value="@role.Id" >@role.Name</option>
                        }

                    }
                </select>
            </td>*@
            
            <td><a asp-action="Details" asp-route-id="@user.Employees.Id" class="btn btn-success">Details</a></td>
        </tr>
        }
      </tbody>
    </table>

    
    
}

<script>
 function ChangeRole(url,userid,result)
 {
     var vlera = $(result).val();
        $.ajax({
            type: "POST",
            url: url,
            data:{userid:userid, roleid:vlera},
            success: function(response){
               $('#'+userid).text(response);
            }
          });
 }
</script>

